[Unit]
Description=Display manager

[Service]
Type=notify
NotifyAccess=all
EnvironmentFile=/etc/sysconfig/enlightenment
SmackProcessLabel=System
ExecStartPre=-/usr/bin/keymap_update.sh
ExecStart=/usr/bin/enlightenment
ExecStartPost=/usr/bin/bash -c "/usr/bin/touch $XDG_RUNTIME_DIR/.wm_ready; echo $MAINPID > $XDG_RUNTIME_DIR/enlightenment.pid"
Restart=always
RestartSec=10

[Install]
WantedBy=graphical.target
